<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Name of Bloggenbrot</title>
</head>
<body>
<h1 th:text="${'Willkommen, User'}"></h1>

<hr>
<ul th:object="${post}">
    <li th:each="comment : ${post.getComments()}">
        <span th:text="${comment.text}"></span>
        <span th:text="${comment.id}"></span>
    </li>
</ul>
<hr>
</body>
</html>