<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home of Bloggenbrot</title>
</head>
<body>
<h1 th:text="${'Bloggenbrot'}"></h1>

<hr>
<a th:href="@{/register}">Registrieren</a>

<hr>


<ul>
    <li th:each="post: ${Postlist}">

        <span th:text="${post.text}"></span>
        <span th:text="${post.id}"></span>
        <a th:href="@{/comment(id=${post.id})}"> view comments </a>

    </li>
</ul>
<hr>

</body>
</html>